<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>zrok forgot password</title>
    </head>
    <body>
        <h1>We see you requested a forgot password request, {{ .EmailAddress }}!</h1>
        <p>Please click this <a href="{{ .ForgotPasswordUrl }}">link</a> to change your <code>zrok</code> account password.</p>
    </body>
</html>