/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3e2693;
  --ifm-color-primary-dark: #372284;
  --ifm-color-primary-darker: #2c196e;
  --ifm-color-primary-darkest: #211158;
  --ifm-color-primary-light: #3e2693;
  --ifm-color-primary-lighter: #5a3cc2;
  --ifm-color-primary-lightest: #6747d9;
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-menu-color: #252525;
  --code-background-color: rgba(62,38,147,.1);
  --code-font-color: #252525;
  --selection-font-color: #0f023b;
  --selection-background: #9BF316;
  --ifm-menu-color-background-hover: #6747d955;
  --sidebar-selected: #6747d955;
  --ifm-navbar-background-color: #0d0235;
  --ifm-navbar-link-color: #FFFFFF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9bf316;
  --ifm-color-primary-dark: #8cdb14;
  --ifm-color-primary-darker: #80c814;
  --ifm-color-primary-darkest: #70b409;
  --ifm-color-primary-light: #9bf316;
  --ifm-color-primary-lighter: #9af90a;
  --ifm-color-primary-lightest: #99ff00;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --code-background-color: rgba(76, 55, 123, 0.53);
  --code-font-color: rgb(205, 180, 247);
  --selection-color: #0f023b;
}

@media (min-width: 1416px) {
  .main-wrapper {
    align-self: center;
    max-width: 1400px;
    width: 1400px;
  }
}

.navbar .navbar__inner {
  margin: 0 auto;
  max-width: 1360px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

[data-theme='dark'] {
  --ifm-background-color: unset;
  --ifm-link-color: #9bf316;
  --ifm-menu-color: #FFFFFFD4;
}

.footer--dark {
  --ifm-footer-background-color: #0d0235;
}

[data-theme='dark']
#__docusaurus {
  background: linear-gradient(180deg, rgba(20,12,66,1) 0%, rgba(35,16,105,1) 100%);
}

.menu__link--active:not(.menu__link--sublist) {
  background-color: var(--sidebar-selected);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ifm-heading-color);
  font-family: 'Poppins', sans-serif;
  line-height: var(--ifm-heading-line-height);
  margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
}

p {
  font-family: 'Poppins', Consolas, 'Courier New', monospace;
  font-weight: 400;
}

html {
  font-family: 'Poppins', Consolas, 'Courier New', monospace;
  font-weight: 400;
  letter-spacing: 1;
}

.menu__link {
    color: #252525;
    font-weight: 600;
}

.navbar {
    color: #FFFFFF;
}

[data-theme='dark']
.menu__link {
    color: #FFFFFFD4;
}

.navbar__link:hover, .navbar__link--active {
  font-weight: 600;
}

code {
  vertical-align: middle;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
  font-weight: 800;
  white-space: break-spaces;
  background-color: #f2f2f2;
  color2: rgb(167, 130, 217);
  color: var(--code-font-color);
  border-radius: 6px;
  border-width: 0px;
  border-color: var(--code-background-color);
  background-color2: rgba(76, 55, 123, 0.53);
  background-color: var(--code-background-color);
}

[data-theme='dark']
pre {
  background-color: #0b0031;
}

[data-theme='dark']
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-heading-color);
}

[data-theme='dark']
.docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module {
    border-right: 1px solid #9bf316;
}
[data-theme='dark']
.table-of-contents__left-border {
    border-left: 1px solid #9bf316;
}

a code {
    color: var(--code-font-color);
}
::-moz-selection { /* Code for Firefox */
  color: var(--selection-font-color);
  background: var(--selection-background);
}

::selection {
  color: var(--selection-font-color);
  background: var(--selection-background);
}

.navbar__link:hover, .navbar__link--active {
  text-decoration: none;
}
.navbar__link {
  color: var(--ifm-navbar-link-color);
  font-weight: var(--ifm-font-weight-semibold);
}

/* hide the clipboard copy button on code blocks of type "buttonless" */
.language-buttonless div > button {
  display: none;
}

.header-github-link {
  color: #FFFFFF;
}
.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(60, 74, 94)' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
  no-repeat;
  content: "";
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
}
/*[data-theme="dark"] .header-github-link::before {*/
/*  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(148, 163, 184)' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")*/
/*  no-repeat;*/
/*}*/

.header-discourse-link:hover {
  opacity: 0.6;
}
.header-discourse-link::before {
  background: url('/img/discourse_icon.svg') no-repeat;
  content: "";
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
}
[data-theme="dark"] .header-discourse-link::before {
  background: url('/img/discourse_icon.svg') no-repeat;
  content: "";
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
}

/* getting started cards */

:root {
  --contrasting-background: #c4b7f5;
  --container-border: 1px solid #adadad; /* Light gray border */
  --button-background-hover: #9c84f9;
}

[data-theme="dark"] {
  --contrasting-background: #4b359f;
  --container-border: 1px solid #6d6d6d; /* Light gray border */
  --button-background-hover: #251463;
}

.getting-started-cards .card {
  background-color: var(--sidebar-selected);
}

.getting-started-cards .button {
  background-color: var(--contrasting-background);
  border: 1px var(--container-border);
  color: var(--ifm-link-color);
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  font-family: var(--font-family-monospace);
}

.getting-started-cards .button:hover {
    background-color: var(--button-background-hover);
    outline: none; /* Removes the outline on focus for a clean look */
}

.getting-started-cards a:hover {
    text-decoration: none; /* Removes the underline from links */
}
