body {
  margin: 0;
  font-family: 'JetBrains Mono', Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  margin-left: 0.53em;
}

.container {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  background-color: #3b2693;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  border-radius: 0 0 25px 25px;
}

.header-left {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: right;
}
.header-left div {
  text-align: right;
}

.main {
  padding: 2em;
}

.rdt_TableCol_Sortable div {
  font-family: 'Russo One', sans-serif;
  font-size: 1.25em;
}