[Unit]
Description=zrok share service 
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=zrok-share
UMask=0007
EnvironmentFile=/opt/openziti/etc/zrok/zrok-share.env
ExecStartPre=/opt/openziti/bin/zrok-enable.bash
ExecStart=/opt/openziti/bin/zrok-share.bash
Restart=always
RestartSec=3

# allow adding tun device and IP routes and iptables rules; required when ZROK_BACKEND_MODE=vpn
# AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
