[Unit]
Description=zrok2 share service
After=network-online.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=zrok2-share
UMask=0007
EnvironmentFile=/opt/openziti/etc/zrok2/zrok2-share.env
ExecStartPre=/opt/openziti/bin/zrok2-enable.bash
ExecStart=/opt/openziti/bin/zrok2-share.bash
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
