# /lib/systemd/system/zrok-controller.service

[Unit]
Description=zrok controller service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=zrok-controller
Group=zrok-controller
UMask=0007
ExecStart=/usr/bin/zrok-controller.bash /etc/zrok/ctrl.yml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
