# /lib/systemd/system/zrok-metrics.service

[Unit]
Description=zrok controller metrics bridge service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=zrok-metrics
Group=zrok-metrics
UMask=0007
ExecStart=/usr/bin/zrok-metrics-bridge.bash /etc/zrok/ctrl.yml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
