[Unit]
Description=zrok-http-frontend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/local/zrok/bin/zrok access public /home/ubuntu/.zrok/frontend.json
Restart=always
RestartSec=2
LimitNOFILE=65535
Environment="PFXLOG_NO_JSON=true"

[Install]
WantedBy=multi-user.target
