<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome to zrok!</title>
    </head>
    <body>
        <h1>Welcome to <code>zrok</code>, {{ .EmailAddress }}!</h1>
        <p>Please click this <a href="{{ .VerifyUrl }}">link</a> to create your <code>zrok</code> account.</p>
    </body>
</html>